
<body class = "cadastro-back">
<div class="col-md-5 mx-auto">
  <div  id="cadastro-card">
    <div class="card-block">
      <h2 class="card-title">CADASTRO</h2>
      <form style = "text-align: left">
        <div class="form-group">
          <td>E-mail</td>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Insira seu email...">
          <td>Nome</td>
          <input type="nome" class="form-control" id="nome" aria-describedby="nomeHelp" placeholder="Insira seu nome...">
          <td>Data Nascimento</td>
          <input type="date" class="form-control" id="dataNasc" aria-describedby="dataNascHelp" placeholder="dd/mm/aaaa  ">
          <td>Senha</td>
          <input type="password" class="form-control" id="password" aria-describedby="passwordHelp" placeholder="********">
          <td>Confirme a senha</td>
          <input type="password" class="form-control" id="passwordconfirm" aria-describedby="passwordHelp" placeholder="********">
          <div class="button">
            <button type="button" class="btn btn-primary btn-lg" id="lgn-btn">CADASTRAR</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
</div>
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/popper/popper.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></scrip

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for this template -->
    <script src="js/paginainicial.js"></script>
